


html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: radial-gradient(#23313F, #16191B);
  background-repeat: no-repeat;
  background-color: #16191B;
  color: #889CB9;
}

.sr-only {
  /* visually hidden, for screenreader and SEO only */
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

h2 {
  color: #c2d8f9;
  font-size: 1.1rem;
  margin-top: 0;
}

h4 {
  size: 10pt;
}

.wrapper {
  /* Used to center content, define width in 1 place */
  margin: 0 auto;
  width: 100%;
  max-width: 340px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chessboardcontainer{
  position: relative;
  width: 100%;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  aspect-ratio: 1;
  /* box-sizing: border-box; */
  background-image: url('images/stonesmall.jpg');
  filter: drop-shadow(0 20px 20px rgba(0,0,0,0.5));
  color: white;
  /* overflow: hidden; */
  padding-bottom: 5px;
}

.chessboard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: background-color 200ms;
}

.chessboard .white:hover,
.chessboard .black:hover {
  cursor: pointer;
}

.chessboard .white:active,
.chessboard .black:active {
  color: black;
  background-color: grey;
}

.black {
  background-color: #405779;
  border-bottom: solid 5px rgba(0,0,0,0.3);
}

.white {
  background-color: #889CB9;
  border-bottom: solid 5px rgba(0,0,0,0.3);
}

.gold {
  background-color: gold;
  border-bottom: solid 5px rgba(0,0,0,0.55);
  background: linear-gradient(315deg, #5d4a1f 0%, #9f7928 40%, #d9b042 70%, #ffd200 90%, #FFFFAC 100%);
}

.blue {
  /* background-image: url('images/water.png'); */
  /* background-color: rgb(14, 10, 10); */
}

.red {
  /* background-image: url('images/Lava.png'); */
 /* background-color:  rgb(32, 30, 30);*/
  /* box-shadow: 0 0 2px black; */
}



.button-chess-icon {
  font-size: 16px;
}

.textbox {
  display: block;              /* Ensures the label takes up the full width */
  height: 120px;               /* Set a constant height */
  overflow: hidden;            /* Hide overflow if text exceeds the height */
  text-overflow: ellipsis;     /* Show an ellipsis (...) if the text is too long */      /* Allow words to break at the end of lines */
  /* border: 1px solid black;     Optional: Add a border */
  /*background-color: black;    Optional: Add a background color */
  font-size: 15px;  
  text-align: center; 
  box-sizing: border-box;
  background-color:  radial-gradient(#23313F, #16191B);
}

.textbox p {
  margin: 0;
}
.textbox p+p {
  margin-top: 1em;
}

.button-box {
  width: 100%;
}

.chess-button-row,
.social-button-row {
  display: flex;               /* Use flexbox for button alignment */
  gap: 5px;                   /* Space between buttons */
  justify-content: center;     /* Center the buttons horizontally */
  align-items: center;         /* Vertically align buttons to the center */
  padding: 4px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 999px;  
}

.divider {
  width: 2px;
  align-self: stretch;
  margin: 6px 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 99px;
}

.social-button-row {
  border-radius: 5px;
  background-color: hsla(60, 1%, 21%, 0.363);
  margin-top: 6px;
  padding: 9px;
}

.training-grounds-row {
  border-radius: 5px;
  margin-top: 2px;
  align-items: center;
  padding: 4px;
  display: none;
  gap:4px;
}

.button-box button {
  flex-grow: 1;
  border-radius: 999px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #889CB9;
  cursor: pointer;
  min-height: 32px;
  transition: background-color 150ms;
}
.training-grounds-row button{
  font-size: 14px;
}

.chess-button-row button{
  font-size: 20pt;
  padding: 20px;
}


.button-box button:hover,
.button-box button:focus,
.button-box button:active {
  color: black;
  background-color: #889CB9;
}

.button-box button:disabled,
.button-box button[disabled] {
  cursor: default;
  opacity: 0.5;
  background-color: rgba(0,0,0,0);
  color: black;
}

.button-box button.selected {
  color: black;
  background-color: white;
}


/* Navigation bar */
.navbar {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 14pt;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  padding: 5px 5px;
  flex-basis: 100%
}

.navbar ul li a {
  text-align: center;
  display: block;
  color: #889CB9;
  text-decoration: none;
  font-size: 12px;
  padding: 7px 5px;
  border-radius: 99px;
}

.navbar ul li a:hover {
  background-color: white;
  color: #405779;
  border-radius: 99px;
}

/* Dynamic content section */
.content-section {
  padding-top: 16px;
  border-top: solid 2px rgba(0,0,0,0.25);
  display: none; /* Hidden by default */
  width: 340px;
  overflow: hidden;
}

.content-section li+li{
  margin-top: 0.5em;
}

.content-section *+h2 {
  margin-top: 2em;
}

.sponsor-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  display: none; /* Hidden by default */
  width: 340px;
  overflow: hidden;
}

.training-grounds-text {
  font-size: 10pt;
}

.title {
  display: flex;
  justify-content: center;
  padding: 16px 0 12px 0;
}
.title img {
  display: block;
  max-width: 200px;
}

.chess-board-label{
  color: yellow;
  font-size: 12pt;
  font-weight: bold;
  justify-content: center;  
  justify-items: center; 
}

.start-screen {
  position: absolute; /* absolute can place it above content but within it's parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64,87,121, 0.8); /* Semi-transparent background */
  display: flex;             /* Use flexbox to center the button */
  justify-content: center;   /* Center horizontally */
  align-items:center;        /* Center vertically */
  z-index: 1000;             /* Ensure it appears on top of other content */
}

.start-screen button {
  font-size: 18px;
  border-radius: 999px;
  border: none;
  background-color: white;
  cursor: pointer;
  min-height: 44px;
  padding: 0 1.5em;
  transition: all 100ms;
  font-weight: bold;
  text-transform: uppercase;
}

.start-screen button:hover {
  box-shadow: 0 0 25px white;
}

/* Modal styling */
.modal {
 display: none; 
  position: fixed; 
  z-index: 1000; /* Ensure it appears above all other content */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
  color:black;
  background-color: #FFF;
  margin:0 auto;
  padding: 16px;
  border: 1px solid #888;
  width: 80%; /* Adjust width as needed */
  margin-top: 72px;
  max-width: 500px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow to make the modal look elevated */
  position: relative;
}

.modal-content h2 {
  color: #405779;
}

.modal-button {
  color: #fff;
  background-color: #405779;
  font-size: 14px;
  font-weight: bold;
  border-radius: 999px;
  border: none;
  min-height: 32px;
  padding: 0 8px;
}

.close-button {
  display: block;
  width: 32px;
  height: 32px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 999px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  background-color: #e5ebf3;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#highscores{ 
  font-size: 8pt;
}

#highscoresmoves {
  border-top: solid 2px rgba(0,0,0,0.25);
  padding: 16px 0;
}

#highscoresmoves h2 {
  margin-top: 0;
}

#btnRestartGame{
  display: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.settings{
  border-radius: 5px;
  margin-top: 2px;
  align-items: center;
  padding: 4px;
  gap:4px;
}

.settings button{
  flex-grow: 1;
  border-radius: 999px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: #889CB9;
  cursor: pointer;
  min-height: 32px;
  transition: background-color 150ms;
}

.settings button:hover,
.settings button:focus,
.settings button:active {
  color: black;
  background-color: #889CB9;
}


#notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  color: #16191B;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0;
  bottom: 364px;
  transition-property: opacity, bottom;
  transition-duration: 0.2s,    0.3s;
}

#notification.show {
  bottom: 5px;
  opacity: 1;
}



/* Game stats */

.gamestats {
  display: flex;
  align-self:stretch;
  gap: 8px;
  padding: 0 8px 0 0;
  align-items: center;
}

.gamestats-name {
  flex-grow: 1;
  /* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gamestats-moves {
  display: flex;
  font-size: 10pt;
  align-self: center;
  color: #fff;
  font-weight: bold;
}

.gamestats-location {
  color: #fff;
  font-weight: bold;
}

.gamestats-next-board-time {
  color: #fff;
  font-weight: bold;
}

.gamestats-gold {
  display: flex;
  gap: 4px;
  padding-right: 4px;
}

.gamestats-gold-item {
  display: block;
  border: dashed 1px #889CB9;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 999px;
  box-sizing: border-box;
}

.gamestats-gold-item.collected {
  border: none;
  background: linear-gradient(315deg, #5d4a1f 0%, #9f7928 40%, #d9b042 70%, #ffd200 90%, #FFFFAC 100%);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.guard
{
  color: black;
  background-color: rgb(44, 221, 25);  /* Green overlay for enemy spaces for St Pats from rgba(255, 0, 0, 1) */
}

/*NEW STYLES*/
#MakeChessboardDIV {
  display: grid;
}

#MakeChessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  aspect-ratio: 1;  
  align-self: center;
  /* box-sizing: border-box; */
  filter: drop-shadow(0 20px 20px rgba(0,0,0,0.5));
  color: white;
  /* overflow: hidden; */
  padding-bottom: 5px;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  margin: 20px auto;
}

#MakeChessboardControls {
  text-align: center;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Checkered pattern for the chessboard */


/*
.black {
  background-color: #405779;
  border-bottom: solid 5px rgba(0,0,0,0.3);
}

.white {
  background-color: #889CB9;
  border-bottom: solid 5px rgba(0,0,0,0.3);
}
*/

/* Additional logic to ensure proper checkered look */
/*
.square:nth-child(7n+1),
.square:nth-child(7n+3),
.square:nth-child(7n+5),
.square:nth-child(7n+7) {
  background-color: #889CB9; }/* Light brown */

/*
.square:nth-child(8n+2),
.square:nth-child(8n+4),
.square:nth-child(8n+6),
.square:nth-child(8n+0) {
  background-color: #405779;} /* Dark brown */


/* Blocked squares will have a red background */
.square.blocked {
  background-image: url('images/stonesmall.jpg');
}

/* Gold squares for special locations like treasure */
.square.gold {
  background-color: gold; /* Gold-colored squares */
}

/* Labels for Y-axis */
#yLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Same height as the chessboard */
}

.label {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Labels for X-axis */
#xLabels {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Output textarea */
#output {
  width: 800px;
  justify-content: left;
  color: yellow !important;

/* Highlight the path */
.square.path {
  border: 2px solid blue;
}

/* Adjust text inside squares */
.square {
  position: relative;
  font-weight: bold;
  font-size: 14px;
}

.square.path::after {
  content: attr(data-piece);
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: blue;
}

.square.crap '{
  background-color: darkorange;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.square.knight {
  background-color: darkorange;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.square.bishop {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.square.king {
  background-color: blue;
  color: black;
  font-weight: bold;
  font-size: 18px;
  content:"K";
}

.square.rook {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.make-button {
  font-size: 12px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.make-button.selected {
  background-color: blue;
  color: white;
  border-color: darkblue;
}
